{% extends 'base.html' %}

{% block content %}
<h1> {{country.name}} </h1>

 <h3>Update a Country</h3>

    <form action="/countries/{{ country.id }}" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ country.name }}">
            <input type="submit">

            <!-- <label for="to_visit">Visited?</label>
            <textarea name="to_visit" id="to_visit" cols="30" rows="10"></textarea>
            <input class="btn btn--action" type='submit' value="submit"> -->

            <!-- <label for="to_visit">Visited?:</label>
            <select name="to_visit" id="to_visit">
            {% for country in countries %}
            <option value="{{ country.to_visit }}">{{ country.to_visit }}</option>
            {% endfor %}
            </select> -->
                       
        </div>
    </form>
    
    <h3>Available City:</h3>

    <ul>
        {% for city in cities %}
        <li>
            {{ city.name }}
        </li>
        {% endfor %}
    </ul>

   

{% endblock %}