{% extends 'base.html' %}

{% block content %}
<h1> {{country.name}} </h1>

 <h3>Update a Country</h3>

    <form action="/countries/{{ country.id }}" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ country.name }}">
            <input type="submit">
        </div>
    </form><h3>Available City:</h3>

    <ul>
        {% for city in cities %}
        <li>
            {{ city.name }}
        </li>
        {% endfor %}
    </ul>

   

{% endblock %}