{% extends 'base.html' %}

{% block content %}
<h1>City Checklist Manager</h1>


    <p class="btn--wrapper">
        <a class="btn btn--action" href="/cities/new">Add New City</a>
    </p>

<h3>Select for attractions:</h3>

        <section>
            <ul class="city">
                {% for city in cities %}
                <li><a class="destinations" href="/cities/ {{city.id}}">{{city.name}}</a></li>
            <li>
                <form action="/cities/{{city.id}}/delete" method="POST">
                    <input class="btn btn--danger" type="submit" value="delete"/>
                </form>
            </li>
                {% endfor %}
            </ul>
        </section>
    
{% endblock %}

