{% extends 'base.html' %}

{% block content %}
<h1>Attractions</h1>

<table>
  <tr>
    <th>Name</th>
  
  </tr>
  {% for sight in sights %}
  <tr>
    <td><a href="/sights/{{ sight.id }}"> {{sight.name}} </a></td>
  </tr>
  {% endfor %}
</table>
<section>
  <h3>Add a New Attraction:</h3>
  
      <p>
      <form action="/sights" method="POST">
          <div>
              <label for="sight">Name:</label>
              <input type="text" id="sight" name="sight">
              <input type="submit">
          </div>
      </form>
      </p>
</section> 


{% endblock %}