body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1504609773096-104ff2c73ba4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTh8fHRyYXZlbHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
}

nav ul li {
    display: inline;
    background-color: rgb(172, 170, 170);
    background-blend-mode: darken;
    border-radius: 15px;
}

li {
    margin: 10px;
    padding: 10px;
}

a {
    color: black;
}

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    background-blend-mode: inherit;
}

.title_page {
    font-size: 25px;
    text-align: left;
}