<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wish List Travel</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main>
        <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cities">Cities</a></li>
                <li><a href="/countries">Countries</a></li>
                <li><a href="/sights">Attractions</a></li>
                <li><a href="/trips">Trip Planner</a></li>
            </ul>
        </nav>
        </header>
        <section id="content">
            {% block content %}

            {% endblock%}   
        </section>
    </main>
</body>
</html>