{% extends 'base.html' %}

{% block content %}
<h1>Trip Planner</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/trips/new">Add Trip</a>
</p>

<ul>
  {% for trip in trips %}
  <li class="trips">
  <p>Country: {{ trip.country.name }}</p> 
  <p>City: {{ trip.city.name }}</p>
  <p>Attraction: {{ trip.sight.name }} </p>
  <p></p>
  <p>Trip status: {% if trip.to_visit %} </p>
    👍
    {% else %}
    👎
    {% endif %}
    <p>
      <form action="/trips/{{ trip.id }}/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </p>
  </li>
  {% endfor %}
</ul>

{% endblock %}