{% extends 'base.html' %}

{% block content %}
<h1>Add a Trip</h1>

    <!-- form -->
    <form action="/trips" method="post">
        <div>
            <label for="user_id">Name:</label>
            <input type="text" 
                name="user_id" 
                id="user_id" 
                placeholder="user_name" 
                required 
                autofocus>
        </div>
        <div>
            <label for="city_id">City:</label>
            <input type="text"
                   name="city_id"
                   id="city_id"
                   placeholder="City"
                   required
                   autofocus>
        </div>
        <div>
            <label for="country_id">Country:</label>
            <input type="text"
                   name="country_id"
                   id="country_id"
                   placeholder="Country"
                   required
                   autofocus>
        </div>
        <div>
        <label for="to_visit">On Bucket list?:</label>
        <input type="text"
               name="to_visit"
               id="to_visit"
               placeholder="Bucket List"
               required
               autofocus>

            <button type="submit">Add Trip</button>
    
    </form>

{% endblock %}


<!-- <form action="/trips" method="post">
    <div>
  <label for="user_id">Add a user:</label>
    <input type="text" name="user_id" id="user_id" value={{user_id.name}}>
    </div>
  
 <select name="user_id" id="user">
      {% for user in users %}
      <option value="{{ user.id }}">{{ user.name }}</option>
      {% endfor %}
    </select> -->
  
    <!-- <label for="city">Select a City:</label>
    <select name="city_id" id="city">
      {% for city in cities %}
      <option value="{{ city.id }}">{{ city.name }}</option>
      {% endfor %}
    </select>

  <label for="country">Select a Country:</label>
    <select name="country_id" id="country">
      {% for country in countries %}
      <option value="{{ country.id }}">{{ country.name }}</option>
      {% endfor %}
    </select>
  

  <label for="to_visit">Visit Status</label>
  <textarea name="to_visit" id="to_visit" cols="30" rows="10"></textarea>
  <input class="btn btn--action" type='submit' value="to_visit">
</form> --> 
