{% extends 'base.html' %}

{% block content %}

<h1>Add a Trip</h1>
    <section>
      <form action="/trips" method="post">
        <label for="city_id">Select City:</label>
          <select name="city_id" id="city_id">
            {% for city in cities %}
            <option value="{{ city.id }}">{{ city.name }}</option>
            {% endfor %}
          </select>
      
        <label for="country_id">Select Country:</label>
        <select name="country_id" id="country_id">
          {% for country in countries %}
          <option value="{{ country.id }}">{{ country.name }}</option>
          {% endfor %}
        </select>
      
        <label for="sight_id">Select Attraction:</label>
        <select name="sight_id" id="sight_id">
          {% for sight in sights %}
          <option value="{{ sight.id }}">{{ sight.name }}</option>
          {% endfor %}
        </select>

        <label for="to_visit">Select Visit Status:</label>
        <select name="to_visit" id="to_visit">
          {% for trip in trips %}
          <option value="{{ trip.to_visit }}">{{ trip.to_visit }}</option>
          {% endfor %}
        </select>
        <input type="submit">

    </form>
  </section> 
    <section>
      <h3>Weather Dashboard</h3>
        <h4>Check the weather for your next destination</h4>
            <form id="weatherForm" action="{{ url_for('trips.render_results') }}" method="post">Location (City/Town):<input id="weatherInput" type="text" name="city"><br>
                <input id="weatherSubmit" type="submit" value="Submit">
            </form>

    </section>


{% endblock %}

