{% extends 'base.html' %}

{% block content %}

<h1>Add a Trip</h1>
<!-- 
<form action="/trips" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="city">City:</label>
        <input type="text" id="city" name="city">
    </div>
    <div>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country">
        <input type="submit">
    </div>
</form> -->
 
    

{% endblock %}





<!-- <form action="/trips" method="post">
    <div>
        <label for="user_id">Name:</label>
        <input type="text" 
            name="user_id" 
            id="user_id" 
            placeholder="user_name" 
            required 
            autofocus>
    </div>
    <div>
        <label for="city_id">City:</label>
        <input type="text"
               name="city_id"
               id="city_id"
               placeholder="City"
               required
               autofocus>
    </div>
    <div>
        <label for="country_id">Country:</label>
        <input type="text"
               name="country_id"
               id="country_id"
               placeholder="Country"
               required
               autofocus>
    </div>
    <div>
    <label for="to_visit">On Bucket list?:</label>
    <input type="text"
           name="to_visit"
           id="to_visit"
           placeholder="Bucket List"
           required
           autofocus>

        <button type="submit">Add Trip</button>

</form> -->